<div class="container">
  <h1>Welcome to the User Management Panel</h1>


  <table class="table">
    <tr>
      <th class="id">
        Id
      </th>
      <th class="firstname">
        First Name
      </th>
      <th class="address">
        Address
      </th>
      <th class="email">
        e-mail
      </th>
    </tr>
    <tr *ngFor="let user of users">
      <th class="id">
        {{ user.id }}
      </th>
      <td class="firstname">
        {{ user.firstName }}
      </td>
      <td class="address">
        {{ user.address }}
      </td>
      <td class="email">
        {{ user.email }}
      </td>
    </tr>
  </table>
</div>